<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Document</title>
</head>
<body>
    <h1>Database of users</h1>

    <h2>What do you want to do?</h2>
    <a href="/add">Add person</a>
    <a href="">Remove person</a>
    <a href="">Search for person</a>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td>Id</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.getName()}"></td>
                <td th:text="${person.getSurname()}"></td>
                <td th:text="${person.getIdentificationNumber()}"></td>
            </tr>
        </tbody>


    </table>
    <form action="/add" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">

        <label for="surname">Surname: </label>
        <input type="text" name="surname" id="surname">

        <label for="id">Id: </label>
        <input type="text" name="identificationNumber" id="id">

        <label for="bornBefore2000">Born before 2000? </label>
        <input type="checkbox" name="bornBefore2000" id="bornBefore2000">

        <button>Submit</button>
    </form>
</body>
</html>